body {
 background: linear-gradient(to right,#1e3c72,#2a5298);
 height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
}

.card {
 background:white;
 padding:25px;
 width:380px;
 border-radius:12px;
}
